<div class="container has-text-centered">
  <div class="box">
    <div class="card">
      <div class="card-image">
        <div class="carousel">
          <!-- Radio buttons for slide control -->
          <input type="radio" name="carousel" id="carousel-1" checked>
          <input type="radio" name="carousel" id="carousel-2">
          <input type="radio" name="carousel" id="carousel-3">

          <!-- Carousel items -->
          <div class="carousel-items">
            <div class="carousel-item">
              <!-- Slide 1: Video -->
              <video controls muted preload="metadata" playsinline poster="https://r2.seemsgood.org/content/media/kyveza-group-pic.png">
                <source src="https://r2.seemsgood.org/content/media/kyvesa-kill-video.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
              </video>
            </div>
            <div class="carousel-item">
              <!-- Slide 2: Image -->
              <img src="https://r2.seemsgood.org/content/mythic-progress.png" alt="Group Photo">

            </div>
            <div class="carousel-item">
              <!-- Slide 3: Another image or video -->
              <img src="https://r2.seemsgood.org/content/mythic-progress.png" alt="Victory Screen">
            </div>
          </div>

          <!-- Navigation Dots -->
          <div class="carousel-nav">
            <label for="carousel-1"></label>
            <label for="carousel-2"></label>
            <label for="carousel-3"></label>
          </div>
        </div>
      </div>

      <div class="card-content">
        <div class="content has-text-left">
          <p class="title is-4"> Liberation of Undermine </p>
          <p class="subtitle is-6"> Season 2 of The War Within </p>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" href="https://www.warcraftlogs.com/guild/progress/289615?zone=42"> 
          <figure class="image is-32x32">
            <img  src="https://assets.rpglogs.com/img/warcraft/favicon.png?v=2" alt="Warcraft Logs Logo"/>
          </figure>
          View on WarcraftLogs
        </a>
        <a class="card-footer-item" href="https://raider.io/guilds/us/stormrage/Seems%20Good">
          <figure class="image is-32x32">
            <img  src="https://cdn.raiderio.net/images/mstile-70x70.png"
                  alt="Raider.IO Logo"/>
          </figure>
          View on Raider.IO
        </a>
      </footer>
    </div>
  </div>
</div>
