<!-- Season 2 TWW Post -->
    <div class="card">
      <div class="card-image">
        <figure class="image is-16by9 has-ratio">
          <img src="https://r2.seemsgood.org/content/media/gallywix-kill-group.png" 
               alt="Mythic Gallywix Kill - Group Photo of Raidteam Roster infront of defeated boss."
               >
          <!-- TODO: Finish Gallywix Kill Video -->
          <!-- <video class="has-rounded-border" controls muted  -->
          <!--        preload="metadata" playsinline  -->
          <!--        poster="https://r2.seemsgood.org/content/media/kyveza-group-pic.png"> -->
          <!--   <source src="https://r2.seemsgood.org/content/media/kyvesa-kill-video.mp4" type="video/mp4"> -->
          <!--   Your browser does not support HTML5 video. -->
          <!-- </video> -->
        </figure>
      </div>
      <div class="card-content">
        <div class="content has-text-left">
          <p class="title is-4"> Mythic Gallywix Kill </p>
          <p class="subtitle is-6"> Season 2 of The War Within </p>
          <time datetime="2025-06-26"> 9:13pm - 26 June 2025 </time>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" href="https://www.warcraftlogs.com/reports/FBvTzZPLVmdApbN6?fight=last">
          <figure class="image is-32x32 mr-2">
            <img src="https://assets.rpglogs.com/img/warcraft/favicon.png?v=2" alt="Warcraft Logs Logo"/>
          </figure>
          View on Warcraft Logs
        </a>
      </footer>
    </div>
