<div class="card">
  <div class="card-image">
    <figure class="image">
      <img
          src="https://r2.seemsgood.org/content/mythic-progress.png"
          alt="Image of WarcraftLogs Mythic Progress Tracking Widget"/>
    </figure>
  </div>
  <div class="card-content">
    <div class="content has-text-left">
      <p class="title is-4"> Manaforge Omega </p>
      <p class="subtitle is-6"> Season 3 of The War Within </p>
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item" href="https://www.warcraftlogs.com/guild/progress/289615?zone=44"> 
      <figure class="image is-32x32">
        <img  src="https://assets.rpglogs.com/img/warcraft/favicon.png?v=2" alt="Warcraft Logs Logo"/>
      </figure>
      View on WarcraftLogs
    </a>
    <a class="card-footer-item" href="https://raider.io/guilds/us/stormrage/Seems%20Good">
      <figure class="image is-32x32">
        <img  src="https://cdn.raiderio.net/images/mstile-70x70.png"
              alt="Raider.IO Logo"/>
      </figure>
      View on Raider.IO
    </a>
  </footer>
  <div class="card-content">
    <div class="content has-text-left">
      <p class="subtitle is-4">Recent Mythic+</p>
    </div>
  </div>

