[Unit]
Description=Update Raid Data & Player Sync

[Service]
Type=oneshot
User=ADD-USER-HERE
WorkingDirectory=%h/seemsgood_guild/helpers
EnvironmentFile=%h/seemsgood_guild/helpers/.env
ExecStart=%h/seemsgood_guild/helpers/helpers_main.sh
