{% extends "layout.html" %}
{% block content %}

  <!-- Hero Section -->
<section class="section pt-0 px-0 is-medium is-bold is-centered">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">Seems Good Guild</h1>
        <h2 class="subtitle">A 2-Day guild striving for Cutting Edge!</h2>
      </div>
    </div>
  </section>
  <!-- Main content -->
  <div class="container">

    <!-- About Box -->
    <div class="box">
      <h3 class="title is-3">About Us</h3>
      <p>Seems Good is a 2-day guild seeking players to achieve Cutting Edge. We aim to clear content at a quick pace while raiding only 5 hours a week. Our goal is to improve every tier, swapping time for quality.</p>
    </div>

    <!-- Raid Info Box -->
    <div class="box">
      <h3 class="title is-3">Raid Days/Times</h3>
      <p>We raid on the following days:</p>
      <ul class="info-list">
        <li><span class="info-title">Tuesdays & Thursdays</span> from <span class="info-title">8:00 PM - 10:30 PM EST</span></li>
        <li><span class="info-title">Expectation:</span> Everyone online 10 minutes before raid start</li>
      </ul>
    </div>

    <!-- Progression Box -->
    <div class="box">
      <h3 class="title is-3">Progression</h3>
      <p>Current Progress: <span class="has-text-weight-bold">6/8M NP</span></p>
    </div>

    <!-- Contact Box -->
    <div class="box">
      <h3 class="title is-3">Contacts</h3>
      <p>If you're interested in joining or have questions, feel free to contact us:</p>
      <ul class="info-list">
        <li><span class="info-title">GM:Ladora (Discord)</span></li>
        <li><span class="info-title">Recruiter:</span>Juuk (Discord)</li>
      </ul>
    </div>

    <!-- Are You A Good Fit Box -->
    <div class="box">
      <h3 class="title is-3">Are You A Good Fit?</h3>
      <p>We are looking for dedicated players who want to push into Mythic and achieve Cutting Edge as quickly as possible while maintaining a lighthearted, fun environment. If you're driven and committed, while still wanting to enjoy the game, you're a perfect fit!</p>
    </div>

  </div>


{% endblock %}
