{% extends "layout.html" %}
{% block content %}

<script>
  function openModal(url) {
    document.getElementById('modalIframe').src = url;
    document.getElementById('skellModal').classList.add('is-active');
  }

  // Close the modal when clicking outside
  document.addEventListener('click', function(event) {
    if (event.target.classList.contains('modal-background')) {
      document.getElementById('skellModal').classList.remove('is-active');
    }
  });

  // Close the modal when clicking the close button
  document.querySelectorAll('.modal-close').forEach(function(closeButton) {
    closeButton.addEventListener('click', function() {
      document.getElementById('skellModal').classList.remove('is-active');
    });
  });
</script>

<div class="grid is-col-min-10">

  <!-- Nuzzler -->
  <div class="cell">
      <div class="card" style="background-color: rgb(255, 244, 104);">
        <div class="card-content">
          <div class="content">
            <p class="title has-text-centered has-text-black">
            Nuzz
            </p>
          </div>
        </div>
        <footer class="card-footer has-background-success">
          <button class="card-footer-item has-text-link" onclick="openModal('https://r2.seemsgood.org/roster/nuzzsin.html')">View Sim</button>
        </footer>
      </div>
  </div>


  <!-- Infi -->
  <div class="cell">
      <div class="card" style="background-color: rgb(63, 199, 235);">
        <div class="card-content">
          <div class="content">
            <p class="title has-text-centered has-text-black">
            Infi 
            </p>
          </div>
        </div>
        <footer class="card-footer has-background-success">
          <button class="card-footer-item has-text-link" onclick="openModal('https://r2.seemsgood.org/roster/infilicious.html')">View Sim</button>
        </footer>
      </div>
  </div>

  <!-- Shodo -->
  <div class="cell">
      <div class="card" style="background-color: rgb(51, 147, 127);">
        <div class="card-content">
          <div class="content">
            <p class="title has-text-centered has-text-black">
            Shodo 
            </p>
          </div>
        </div>
        <footer class="card-footer has-background-success">
          <button class="card-footer-item has-text-link" onclick="openModal('https://r2.seemsgood.org/roster/notshodo.html')">View Sim</button>
        </footer>
      </div>
  </div>

  <!-- Chint -->
  <div class="cell">
      <div class="card" style="background-color: rgb(163, 48, 201);">
        <div class="card-content">
          <div class="content">
            <p class="title has-text-centered has-text-black">
            Chint 
            </p>
          </div>
        </div>
        <footer class="card-footer has-background-success">
          <button class="card-footer-item has-text-link" onclick="openModal('https://r2.seemsgood.org/roster/chinterfel.html')">View Sim</button>
        </footer>
      </div>
  </div>

  <!-- Shipdubflip -->
  <div class="cell">
      <div class="card" style="background-color: rgb(0, 112, 221);">
        <div class="card-content">
          <div class="content">
            <p class="title has-text-centered has-text-black">
            Dub 
            </p>
          </div>
        </div>
        <footer class="card-footer has-background-success">
          <button class="card-footer-item has-text-link" onclick="openModal('https://r2.seemsgood.org/roster/dubshamm.html')">View Sim</button>
        </footer>
      </div>
  </div>

  <!-- Jakksparrow -->
  <div class="cell">
      <div class="card" style="background-color: rgb(244, 140, 186);">
        <div class="card-content">
          <div class="content">
            <p class="title has-text-centered has-text-black">
            Jakk 
            </p>
          </div>
        </div>
        <footer class="card-footer has-background-success">
          <button class="card-footer-item has-text-link" onclick="openModal('https://r2.seemsgood.org/roster/jakksparrow.html')">View Sim</button>
        </footer>
      </div>
  </div>

  <!-- nyxiam -->
  <div class="cell">
      <div class="card" style="background-color: rgb(0, 255, 152);">
        <div class="card-content">
          <div class="content">
            <p class="title has-text-centered has-text-black">
            Nyxiam 
            </p>
          </div>
        </div>
        <footer class="card-footer has-background-success">
          <button class="card-footer-item has-text-link" onclick="openModal('https://r2.seemsgood.org/roster/nyxiam.html')">view sim</button>
        </footer>
      </div>
  </div>
 
  <!-- Filio -->
  <div class="cell">
      <div class="card" style="background-color: rgb(0, 255, 152);">
        <div class="card-content">
          <div class="content">
            <p class="title has-text-centered has-text-black">
            Filio 
            </p>
          </div>
        </div>
        <footer class="card-footer has-background-success">
          <button class="card-footer-item has-text-link" onclick="openModal('https://r2.seemsgood.org/roster/filio.html')">view sim</button>
        </footer>
      </div>
  </div>
             
  <!-- Kael -->
  <div class="cell">
    <div class="card" style="background-color: rgb(170, 211, 114);">
      <div class="card-content">
        <div class="content">
          <p class="title has-text-centered has-text-black">
          Kael 
          </p>
        </div>
      </div>
      <footer class="card-footer has-background-success">
        <button class="card-footer-item has-text-link" onclick="openModal('https://r2.seemsgood.org/roster/kaelirious.html')">view sim</button>
      </footer>
    </div>
  </div>

  <!-- Roger -->
  <div class="cell">
    <div class="card" style="background-color: rgb(255, 124, 10);">
      <div class="card-content">
        <div class="content">
          <p class="title has-text-centered has-text-black">
          Roger 
          </p>
        </div>
      </div>
      <footer class="card-footer has-background-success">
        <button class="card-footer-item has-text-link" onclick="openModal('https://r2.seemsgood.org/roster/rogergrowth.html')">view sim</button>
      </footer>
    </div>
  </div>

  <!-- Cryptic -->
  <div class="cell">
    <div class="card" style="background-color: rgb(255, 124, 10);">
      <div class="card-content">
        <div class="content">
          <p class="title has-text-centered has-text-black">
          Cryptic 
          </p>
        </div>
      </div>
      <footer class="card-footer has-background-success">
        <button class="card-footer-item has-text-link" onclick="openModal('https://r2.seemsgood.org/roster/lunacrypt.html')">view sim</button>
      </footer>
    </div>
  </div>

  <!-- Amarelys -->
  <div class="cell">
    <div class="card" style="background-color: rgb(196, 30, 58);">
      <div class="card-content">
        <div class="content">
          <p class="title has-text-centered has-text-black">
          Amare 
          </p>
        </div>
      </div>
      <footer class="card-footer has-background-success">
        <button class="card-footer-item has-text-link" onclick="openModal('https://r2.seemsgood.org/roster/amarelys.html')">view sim</button>
      </footer>
    </div>
  </div>

  <!-- Tusk -->
  <div class="cell">
    <div class="card" style="background-color: rgb(196, 30, 58);">
      <div class="card-content">
        <div class="content">
          <p class="title has-text-centered has-text-black">
          Tusk 
          </p>
        </div>
      </div>
      <footer class="card-footer has-background-success">
        <button class="card-footer-item has-text-link" onclick="openModal('https://r2.seemsgood.org/roster/tusknight.html')">view sim</button>
      </footer>
    </div>
  </div>






  <!-- end grid -->
</div>

<!-- Modal Skell for displaying sims -->
<div id="skellModal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content" style="width: 80%; margin: 2rem auto;">
    <iframe id="modalIframe" width="100%" height="1000"></iframe>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</div>


{% endblock %}
