{% extends "layout.html" %}
{% block content %}

<!-- js and css for 'raid-frames/scrolling-events' popup -->
{% include "assets/roster-players.html" %}

<!-- Current Season Events/Progress Tracker -->
<div class="container has-text-centered">
  <div class="box">
    {% include "assets/wcl-progress-card.html" %}
    <!-- 'scrolling-events' marquee animation --> 
    <div class="card-content">
      {% include "assets/scrolling-events.html" %}
      <div class="container has-text-centered">
        <div class="scroll-container">
          <div class="scroll-content" id="scrollContent"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Season 4 DF, Season 1, 2 TWW Post -->
<div class="container has-text-centered">
  <div class="box">
    {% for card in raid_metadata %}
    {% include "assets/season-card.html" %}
    {% endfor %}
  </div>
</div>

{% endblock %}
