<!doctype html>
<html lang="en" class="has-navbar-fixed-top">
  
  <head>
    <meta charset="utf-8">
    <!-- Primary Meta Tags -->
    <title>Seems Good | US - Stormrage</title>
    <meta name="title" content="Seems Good | US - Stormrage" />
    <meta name="description" content="Seems Good - a World of Warcraft guild with a community who enjoy Raiding, Mythic+, and PvP. Interested in joining? Learn more at seemsgood.org " />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://development.seemsgood.org/" />
    <meta property="og:title" content="Seems Good | US - Stormrage" />
    <meta property="og:description" content="Seems Good - a World of Warcraft guild with a community who enjoy Raiding, Mythic+, and PvP. Interested in joining? Learn more at seemsgood.org " />
    <meta property="og:image" content="https://raw.githubusercontent.com/Jeremy-Gstein/seemsgood_guild/main/templates/media/fyrakk-group-pic.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://development.seemsgood.org/" />
    <meta property="twitter:title" content="Seems Good | US - Stormrage" />
    <meta property="twitter:description" content="Seems Good - a World of Warcraft guild with a community who enjoy Raiding, Mythic+, and PvP. Interested in joining? Learn more at seemsgood.org " />
    <meta property="twitter:image" content="https://raw.githubusercontent.com/Jeremy-Gstein/seemsgood_guild/main/templates/media/fyrakk-group-pic.jpg" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.css">
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/Jeremy-Gstein/seemsgood_guild/main/templates/media/favicon-96x96.png" sizes="32x32" />
  </head>



    <body>
      <main> 
        <section class="section pt-0 px-0">
<!-- start of navbar -->
          <nav class="navbar is-spaced has-shadow is-dark is-fixed-top" role="navigation" aria-label="main navigation">
              <div class="navbar-brand">
                  <figure class="image is-64x64 is-justify-content-center">
                    <img  src="https://raw.githubusercontent.com/Jeremy-Gstein/seemsgood_guild/main/templates/media/guild-logo-removebg.png"/>
                  </figure>
              
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarData">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>

            </div>
          <div id="navbarData" class="navbar-menu">
              <div class="navbar-start">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-primary" href="/"><strong>Home</strong></button>
                    </a>
                    <a class="button is-primary" href="/application"><strong>Application</strong></button>
                    </a> 
                  </div>
                </div>
              </div>
            <div class="navbar-end"> 
                    <div class="navbar-item">
                      <div class="buttons">
                        <a class="button is-primary" href="https://discord.com">
                          <strong>Join us on Discord!</strong>
                        </a>
                    <button id="theme-toggle" class="button is-primary">
                    <svg  width=32 height="100%" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
                      <style type="text/css">
	                    .st0{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                    	.st1{fill:none;stroke:#000000;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
                     </style>
                        <line class="st0" x1="16" y1="3" x2="16" y2="29"/>
                        <path class="st0" d="M16,23c-3.87,0-7-3.13-7-7s3.13-7,7-7"/>
                        <line class="st0" x1="6.81" y1="6.81" x2="8.93" y2="8.93"/>
                        <line class="st0" x1="3" y1="16" x2="6" y2="16"/>
                        <line class="st0" x1="6.81" y1="25.19" x2="8.93" y2="23.07"/>
                        <path class="st0" d="M16,12.55C17.2,10.43,19.48,9,22.09,9c0.16,0,0.31,0.01,0.47,0.02c-1.67,0.88-2.8,2.63-2.8,4.64
	c0,2.9,2.35,5.25,5.25,5.25c1.6,0,3.03-0.72,3.99-1.85C28.48,20.43,25.59,23,22.09,23c-2.61,0-4.89-1.43-6.09-3.55"/>
                    </svg>
                    </button>
                      </div>
                    </div>
                  </div>
            </div>
          </nav>
      </section>
<!--Javascript to change theme on button press -->
          <script>
        document.addEventListener('DOMContentLoaded', () => {
            const themeToggleButton = document.getElementById('theme-toggle');
            const htmlElement = document.documentElement;

            // Load saved theme from localStorage
            const savedTheme = localStorage.getItem('theme');
            if (savedTheme) {
                htmlElement.classList.add(savedTheme);
            } else {
              // check OS theme, match or overide if toggled manually
              if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
                  htmlElement.classList.add('theme-dark');
                } else {
                  htmlElement.classList.add('theme-light');
                }
            }
            themeToggleButton.addEventListener('click', () => {
                if (htmlElement.classList.contains('theme-dark')) {
                    htmlElement.classList.remove('theme-dark');
                    htmlElement.classList.add('theme-light');
                    localStorage.setItem('theme', 'theme-light');
                } else {
                    htmlElement.classList.remove('theme-light');
                    htmlElement.classList.add('theme-dark');
                    localStorage.setItem('theme', 'theme-dark');
                }
            });
        });
          </script>
<!--Javascript from bulma css docs Source: https://bulma.io/documentation/components/navbar/#navbarJsExample-->
          <script>
        document.addEventListener('DOMContentLoaded', () => {

          // Get all "navbar-burger" elements
          const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

          // Add a click event on each of them
          $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {

              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

             });
          });

        });
          </script>
      
        <section class="section">
<!--Start of Page Content -->        
            {% block content %}{% endblock %}
        </section>
      </main>
    </body>
<!--Start of Footer -->
  <footer class="footer">
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
       <li><a href="/application">Application</a></li>
      </ul>
    </nav>
    <div class="content has-text-centered is-small">
      <p>
        <strong>Seems Good</strong> The source code for this website can be viewed via this <a href="https://github.com/Jeremy-Gstein/seemsgood_guild"> Github Repository. </a>
      </p>
    </div>
  </footer>
</html>
