<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <!-- Primary Meta Tags -->
    <title>Seems Good | US - Stormrage</title>
    <meta name="title" content="Seems Good | US - Stormrage" />
    <meta name="description" content="Seems Good - a World of Warcraft guild with a community who enjoy Raiding, Mythic+, and PvP. Interested in joining? Learn more at seemsgood.org " />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://seemsgood.org/" />
    <meta property="og:title" content="Seems Good | US - Stormrage" />
    <meta property="og:description" content="Seems Good - a World of Warcraft guild with a community who enjoy Raiding, Mythic+, and PvP. Interested in joining? Learn more at seemsgood.org " />
    <meta property="og:image" content="https://r2.seemsgood.org/content/media/fyrakk-group-pic.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://development.seemsgood.org/" />
    <meta property="twitter:title" content="Seems Good | US - Stormrage" />
    <meta property="twitter:description" content="Seems Good - a World of Warcraft guild with a community who enjoy Raiding, Mythic+, and PvP. Interested in joining? Learn more at seemsgood.org " />
    <meta property="twitter:image" content="https://r2.seemsgood.org/content/media/fyrakk-group-pic.jpg" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" type="image/png" href="https://r2.seemsgood.org/content/media/favicon-96x96.png" sizes="32x32" />
    <!--Javascript to change theme on button press -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const themeToggleButton = document.getElementById("theme-toggle");
        const htmlElement = document.documentElement;
        const icon = themeToggleButton.querySelector("i");

        // Load saved theme from localStorage
        const savedTheme = localStorage.getItem("theme");

        if (savedTheme) {
          htmlElement.classList.add(savedTheme);
        } else {
          // Check OS theme and apply it if no saved theme
          if (window.matchMedia("(prefers-color-scheme: light)").matches) {
            htmlElement.classList.add("theme-light");
          } else {
            htmlElement.classList.add("theme-dark");
          }
        }

        // Set the correct icon on page load
        updateIcon();

        themeToggleButton.addEventListener("click", () => {
          if (htmlElement.classList.contains("theme-dark")) {
            htmlElement.classList.replace("theme-dark", "theme-light");
            localStorage.setItem("theme", "theme-light");
          } else {
            htmlElement.classList.replace("theme-light", "theme-dark");
            localStorage.setItem("theme", "theme-dark");
          }
          updateIcon();
        });

        function updateIcon() {
          if (htmlElement.classList.contains("theme-dark")) {
            icon.classList.remove("fa-moon");
            icon.classList.add("fa-sun");
          } else {
            icon.classList.remove("fa-sun");
            icon.classList.add("fa-moon");
          }
        }
      });
    </script>
    <!-- close notification -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const notification = document.querySelector(".notification");
        const deleteButton = document.querySelector(".notification .delete");

        // Check localStorage if notification was dismissed
        if (localStorage.getItem("notificationClosed") === "true") {
          notification.style.display = "none"; // Hide notification if it was closed
        }

        if (deleteButton) {
          deleteButton.addEventListener("click", () => {
            notification.style.display = "none"; // Hide it visually
            localStorage.setItem("notificationClosed", "true"); // Save state
          });
        }
      });
    </script>
    <!-- navbar-buger (mobile clients)-->
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {
            const target = el.dataset.target;
            const $target = document.getElementById(target);
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      });
    </script>

  </head>
<!-- start of navbar -->
<nav class="navbar is-spaced has-shadow is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <figure class="image is-64x64 is-justify-content-center">
      <img src="https://r2.seemsgood.org/content/media/guild-logo-removebg.png" />
    </figure>
  </div>

  <!-- Burger button for mobile -->
  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarData">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>

  <!-- Navbar menu -->
  <div id="navbarData" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <a class="button is-primary" href="/"><strong>Home</strong></a>
      </div>
      <div class="navbar-item">
        <a class="button is-primary" href="/about"><strong>About</strong></a>
      </div>
      <div class="navbar-item">
        <a class="button is-primary" href="/application"><strong>Apply</strong></a>
      </div>

      <!-- Dropdown Menu -->
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <strong>Tools</strong>
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/keys">
            <strong class="has-text-link">Mythic+</strong>
          </a>
          <a class="navbar-item" href="/wowaudit">
            <strong class="has-text-link">Wowaudit Spreadsheet</strong>
          </a>
          <a class="navbar-item" href="/dps-sims">
            <div class="icon-text">
              <span class="icon has-text-warning">
                <i class="fas fa-exclamation-triangle"></i>
              </span>
              <span>
                <strong class="has-text-warning">DPS Sims</strong>
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- Navbar end (for right-aligned buttons) -->
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <!-- grants temp membership expires after 25 uses -->
          <a class="button is-primary" href="https://discord.gg/nB8wAtmdzK">
            <strong>Join us on Discord!</strong>
          </a>
          <button id="theme-toggle" class="button is-primary">
            <span class="icon">
              <i class="fas fa-moon"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<body>
    <main> 
      <section class="section pt-0 px-0">
        <!-- Start of notification -->
        {% if show_noti %}
        <div class="notification is-info has-text-centered">
          <button class="delete is-large"></button>
          <strong>Interested in joining the team???</strong>
          Send us an application by visiting the <a href=/application>Apply page!</a>
        </div>
        {% endif %}
      </section>
      <!--Start of Page Content -->        
      <section>
        {% block content %}{% endblock %}
      </section>
    </main>
  </body>
  <!--Start of Footer -->
  <footer class="footer">
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/application">Apply</a></li>
        <li><a href="/keys">Mythic+</a></li>
      </ul>
    </nav>
    <div class="content has-text-centered is-small">
      <p>
      <strong>Seems Good</strong> The source code for this website can be viewed via this <a href="https://github.com/Jeremy-Gstein/seemsgood_guild"> Github Repository. </a>
      </p>
    </div>
  </footer>
</html>
