{% extends "layout.html" %}
{% block content %}

<div class="container is-center">
  <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQiC0lL_XhgD3pIYEm57BMGCQaJQi7021UM7Nl80-QhAPotWrO0VeGF4mijPFwciVzrQdRliLmgLxB2/pubhtml?widget=true&amp;headers=false"  
        width="100%" height="800" 
        frameborder="0" marginheight="0"
        marginwidth="0">
        Loading…
    </iframe>
</div>
<div class="container is-center">
  <a src="https://wowaudit.com/sheet/us/stormrage/seems-good/main"> 
  <div class="box has-text-centered">
    <p class="subtite has-text-link">
      Wowaudit Spreadsheet URL
    </p>
  </div>
  </a>
</div>

{% endblock %}
